@import '@/scss/variables.scss';

.root {
  position: relative;

  width: max-content;

  &--invalid {
    .field {
      box-shadow: inset 0 1px 10px 0px #000;

      border: 1px solid #EE5353;
    }
  }

  .field {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 310px;
    height: 70px;

    font-size: 24px;

    border-radius: 50px;

    color: #000;
    background-color: #cbcbcb;

    cursor: pointer;

    transition: background-color .3s;

    @media screen and (max-width: $breakpoint--lg) {
      width: 240px;
      height: 55px;
  
      font-size: 16px;
    }
  
    @media screen and (max-width: $breakpoint--sm) {
      width: 180px;
      height: 40px;
  
      font-size: 14px;
    }

    &:hover {
      background-color: rgba(#cbcbcb, .8);
    }

    .toggler {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      top: 50%;
      right: 30px;

      transform: translateY(-50%);

      cursor: pointer;

      @media screen and (max-width: $breakpoint--lg) {
       right: 20px;
      }
    
      @media screen and (max-width: $breakpoint--sm) {
        right: 10px;
      }

      svg {
        width: 25px;
        height: 10px;

        @media screen and (max-width: $breakpoint--lg) {
          width: 20px;
          height: 8px;
        }
       
        @media screen and (max-width: $breakpoint--sm) {
          width: 15px;
          height: 6px;
        }
      }

    }
  }

  .dropdown {
    width: 100%;

    position: absolute;

    z-index: 3;

    bottom: 0;

    transform: translateY(calc(100% + 10px));

    display: flex;
    align-items: center;
    flex-direction: column;

    background: #fff;

    overflow-y: auto;
    overflow-x: hidden;

    max-height: calc(5 * 45px);

    @media screen and (max-width: $breakpoint--lg) {
      max-height: calc(4 * 35px);
    }
   
    @media screen and (max-width: $breakpoint--sm) {
      max-height: calc(4 * 30px);
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &__item {
      font-size: 18px;
      text-align: center;

      color: #000;

      width: 100%;

      padding: 10px;

      cursor: pointer;

      min-height: 45px;

      transition: background-color .3s;

      @media screen and (max-width: $breakpoint--lg) {
        padding: 7.5px;

        font-size: 16px;

        min-height: 35px;
      }
     
      @media screen and (max-width: $breakpoint--sm) {
        padding: 5px;
        
        font-size: 14px;

        min-height: 30px;
      }

      &:hover {
        background: darken(#fff, 10%);
      }

      &:active {
        background: darken(#fff, 20%);
      }

      &:not(:last-child) {
        border-bottom: 2px solid #efefef;
      }
    }
  }
}