@import '@/scss/variables.scss';

.root {
  cursor: pointer;

  font-size: 20px;
  
  position: relative;

  width: 310px;
  height: 70px;
  
  border-radius: 50px;

  color: #fff;

  @media screen and (max-width: $breakpoint--lg) {
    width: 240px;
    height: 55px;

    font-size: 16px;
  }

  @media screen and (max-width: $breakpoint--sm) {
    width: 180px;
    height: 40px;

    font-size: 14px;
  }

  &::before {
    content: '';

    position: absolute;

    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    animation: move 1.5s infinite linear;

    background: linear-gradient(248.67deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%);
  }

  &--gold {
    background: $color--gold-gradient;
  }

  &--green {
    background: $color--green-gradient;
  }
}

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}