@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;

  svg {
    @include screen('lg') {
      width: 50px;
      height: 20px;
    }
    
    @include screen('sm') {
      width: 40px;
      height: 15px;
    }
  }

  p {
    font-size: 25px;
    line-height: 35px;
    font-family: map-get($FONTS, 'badscript');

    margin: 80px 0;

    color: #fff;

    @include screen('lg') {
      font-size: 22px;
      line-height: 30px;
     
      margin: 55px 0;
    }

    @include screen('sm') {
      font-size: 20px;
      line-height: 28px;

      margin: 35px 0;
    }
  }
}