@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.root {
  display: none;

  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  max-width: 300px;

  margin: 0 auto;

  color: #9D9D9D;

  @include screen('sm') {
    display: block;
  }
}