@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.root {
  width: 100%;
  max-width: calc(1440px + (2 * 30px));
  
  margin: 0 auto;
  padding: 0 30px;

  @include screen('sm') {
    padding: 0 10px;
  }

  &--nopadding {
    max-width: 1440px;

    padding: 0;
  }
}