@import '@/scss/variables.scss';

.root {
  .content {
    position: relative;

    margin: 0 auto;

    height: 600px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../assets/images/background.png');

    p {
      font-size: 25px;
      line-height: 35px;
      text-align: center;

      max-width: 380px;

      color: #fff;

      span {
        color: $color--gold;
      }
    }
  }
}