@import '@/scss/variables.scss';

.root {
  height: 100vh;
  max-height: 100vh;

  overflow: hidden;
  
  position: relative;

  display: grid;
  grid-template-rows: 225px auto;

  @media screen and (max-width: $breakpoint--lg) {
    grid-template-rows: 175px auto;
  }

  @media screen and (max-width: $breakpoint--md) {
    grid-template-rows: 150px auto;
  }

  @media screen and (max-width: $breakpoint--sm) {
    grid-template-rows: 125px auto;
  }

  .decoration {
    position: absolute;

    color: rgba(#fff, .2);

    &--left {
      width: 90px;
      height: 90px;

      left: 400px;
      bottom: 80px;

      @media screen and (max-width: $breakpoint--lg) {
        left: 20px;
        bottom: 100px;
        
        width: 120px;
        height: 120px;
      }

      @media screen and (max-width: $breakpoint--md) {
        left: 20px;
        bottom: 100px;
        
        width: 90px;
        height: 90px;
      }

      @media screen and (max-width: $breakpoint--sm) {
        left: -15px;
        bottom: 100px;
        
        width: 50px;
        height: 50px;
      }
    }

    &--right {
      width: 150px;
      height: 80px;

      right: 400px;
      top: 100px;

      @media screen and (max-width: $breakpoint--lg) {
        right: 20px;
        
        width: 170px;
        height: 95px;
      }

      @media screen and (max-width: $breakpoint--md) {
        width: 140px;
        height: 75px;
      }

      @media screen and (max-width: $breakpoint--sm) {
        top: 20px;
        right: -30px;
        
        width: 80px;
        height: 45px;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;

    border-bottom: 1px solid rgba(#fff, .2);

    p {
      max-width: 420px;

      margin: 0 auto;

      color: rgba(#fff, .6);
      
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      font-family: $font--badscript;

      @media screen and (max-width: $breakpoint--lg) {
        font-size: 20px;
        line-height: 25px;
      }

      @media screen and (max-width: $breakpoint--md) {
        font-size: 18px;
        line-height: 24px;
      }

      @media screen and (max-width: $breakpoint--sm) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .main {
    padding: 70px 0 30px;

    @media screen and (max-width: $breakpoint--sm) {
      padding: 30px 0;
    }

    > div {
      height: 100%;
    }

    .question {
      display: flex;
      justify-content: center;

      margin: 0 auto;

      height: 100%;

      max-width: 500px;

      @media screen and (max-width: $breakpoint--sm) {
        display: flex;
        align-items: center;
      }
    }
  }
}