@import '@/scss/variables.scss';

.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;

  color: $color--gold;

  .title {
    font-size: 25px;
    line-height: 35px;

    margin-bottom: 45px;

    @media screen and (max-width: $breakpoint--lg) {
      font-size: 20px;
      line-height: 30px;

      margin-bottom: 30px;
    }

    @media screen and (max-width: $breakpoint--sm) {
      font-size: 16px;
      line-height: 25px;

      margin-bottom: 20px;
    }
  }

  .variants {
    display: flex;
    align-items: center;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 35px;

      @media screen and (max-width: $breakpoint--lg) {
        margin-bottom: 25px;
      }

      @media screen and (max-width: $breakpoint--sm) {
        margin-bottom: 20px;
      }
    }
  }

  .subtitle {
    margin-top: 35px;

    font-size: 16px;
    line-height: 18.75px;
    font-family: $font--roboto-light;

    color: rgba(#fff, .6);

    @media screen and (max-width: $breakpoint--lg) {
      font-size: 14px;
      line-height: 16px;
     
      margin-top: 25px;
    }

    @media screen and (max-width: $breakpoint--sm) {
      font-size: 12px;
      line-height: 14px;

      margin-top: 20px;
    }
  }
}