@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;

  color: map-get($COLORS, 'gold');

  .title {
    font-size: 25px;
    line-height: 35px;

    margin-bottom: 45px;

    @include screen('lg') {
      font-size: 20px;
      line-height: 30px;

      margin-bottom: 30px;
    }

    @include screen('sm') {
      font-size: 16px;
      line-height: 25px;

      margin-bottom: 20px;
    }
  }

  .variants {
    display: flex;
    align-items: center;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 35px;

      @include screen('lg') {
        margin-bottom: 25px;
      }

      @include screen('sm') {
        margin-bottom: 20px;
      }
    }
  }

  .subtitle {
    margin-top: 35px;

    font-size: 16px;
    line-height: 18.75px;
    font-family: map-get($FONTS, 'roboto-light');

    color: rgba(#fff, .6);

    @include screen('lg') {
      font-size: 14px;
      line-height: 16px;
     
      margin-top: 25px;
    }

    @include screen('sm') {
      font-size: 12px;
      line-height: 14px;

      margin-top: 20px;
    }
  }

  &--full {
    @include screen('sm') {
      align-items: center;
    }

    .subtitle {
      margin-top: auto;

      @include screen('sm') {
        margin-top: 40px;
      }
    }
  }
}