@font-face {
  font-family: 'Roboto';

  src: url('./assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';

  src: url('./assets/fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Light';

  src: url('./assets/fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto Thin';

  src: url('./assets/fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'BadScript';
  
  src: url('./assets/fonts/bad-script/BadScript-Regular.ttf');
}