@font-face {
  font-family: 'Roboto';

  src: url('./assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'BadScript';
  
  src: url('./assets/fonts/bad-script/BadScript-Regular.ttf');
}