/* --------------- SCREENS --------------- */
$SCREENS: (
  'xl': 1440px,
  'lg': 1024px,
  'md': 768px,
  'sm': 400px,
);

/* --------------- COLORS --------------- */
$COLORS: (
  'background': #202024,
  'gold': #F6C866,
  'gold-gradient': linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%),
  'green-gradient': linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%),
);

/* --------------- FONTS --------------- */
$FONTS: (
  'roboto': 'Roboto',
  'roboto-thin': 'Roboto Thin',
  'roboto-light': 'Roboto Light',
  'roboto-medium': 'Roboto Medium',

  'badscript': 'BadScript',

  'alternative': sans-serif,
);