// Colors
$color--background: #202024;

$color--gold: #F6C866;

$color--gold-gradient: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
$color--green-gradient: linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%);

// Fonts
$font--roboto: 'Roboto';
$font--roboto-thin: 'Roboto Thin';
$font--roboto-light: 'Roboto Light';

$font--badscript: 'BadScript';

$font--alternative: sans-serif;