@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.root {
  position: relative;

  padding: 130px 0;

  overflow: hidden;

  @include screen('lg') {
    padding: 100px 0;
  }

  @include screen('md') {
    padding: 75px 0;
  }

  @include screen('sm') {
    padding: 50px 0;
  }

  .decoration {
    &--left {
      left: 150px;
      bottom: 50px;

      @include screen('xl') {
        left: -100px;
        bottom: 50px;
      }

      @include screen('lg') {
        left: 20px;
        bottom: 100px;
        
        width: 120px;
        height: 120px;
      }

      @include screen('md') {
        left: 20px;
        bottom: 100px;
        
        width: 90px;
        height: 90px;
      }

      @include screen('sm') {
        left: -15px;
        bottom: 70px;
        
        width: 50px;
        height: 50px;
      }
    }

    &--right {
      right: 150px;
      bottom: 350px;

      @include screen('xl') {
        right: -110px;
        bottom: 350px;
      }

      @include screen('lg') {
        right: 20px;
        bottom: 500px;
        
        width: 170px;
        height: 95px;
      }

      @include screen('md') {
        right: 20px;
        bottom: 500px;
        
        width: 140px;
        height: 75px;
      }

      @include screen('sm') {
        right: -30px;
        bottom: 240px;
        
        width: 80px;
        height: 45px;
      }
    }
  }

  .question {
    margin-bottom: 100px;

    @include screen('lg') {
      margin-bottom: 80px;
    }

    @include screen('sm') {
      margin-bottom: 60px;
    }
  }
}