@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 9999;

  background-color: map-get($COLORS, 'background');

  svg {
    width: 200px;
    height: 100px;

    margin-bottom: 40px;
    
    @include screen('sm') {
      width: 150px;
      height: 70px;
    }
  }

  .percent {
    font-size: 28px;
    line-height: 34px;
    font-family: map-get($FONTS, 'roboto-light');

    color: rgba(#fff, .6);

    margin-top: 20px;

    @include screen('lg') {
      font-size: 24px;
      line-height: 30px;
    }

    @include screen('sm') {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .hint {
    margin-top: 20px;
    
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: map-get($FONTS, 'roboto-light');

    color: rgba(#fff, .6);

    @include screen('lg') {
      font-size: 14px;
    }

    @include screen('sm') {
      font-size: 12px;

      margin-top: 15px;
    }
  }
}